<!DOCTYPE html>
<html class="gray-page">
    <head>
        <div class = "single-text-header">
            <h1 id="fancy-about-header">
                About
            </h1>
        </div>
    </head>
</html>