<!DOCTYPE html>
<html lang="en">
    <head>
    </head>
    
    <body>
        <div class = "container">
            <div class="jumbotron">
                <h1 class="display-3">DoYourFundraisers</h1>
                <p class="lead">A website for struggling fundraising chairs to get kids to DO THEIR FUCKING FUNDRAISERS</p>
                <hr class="my-4">
                <p>Developed by a particularly fed-up fundraising chair, and the year hasn't even started yet lol</p>
                <p class="lead">
                    <a class="btn btn-primary btn-lg" href="https://roblox.com" role="button">FUCKING DO IT</a>
                </p>
            </div>
        </div>
    </body>
</html>